<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" link href="/static/css/bootstrap.min.css">
		<script src="/static/js/jquery-3.7.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		{% block title %} {% endblock %}
	</head>
<body>
	<div class="mx-auto p-2 text-center" style="min-height: 100vh;max-height:100vh; max-width: 100vw">
    {% block body %} 
	{% endblock %}
	</div>
</body>
