{% extends base.html %}

{% block title %}

{% endblock %}

{% block body %}
<form id="formlogin" style="display:none;" action="/login" method="POST">
    <fieldset>
        <legend>Se connecter:</legend>
    username:
    <input required id="username" name="username" minlength="3" maxlength="25" pattern="[A-Za-z0-9]{3,25}"><br>
    password:
    <input required id="password" name="password" minlength="10"><br>
    <br>
    <input type="submit" value="Submit"><br>
    </fieldset>
</form>
{% endblock %}
<script type="text/javascript">
    function loginform(){
        $('#formlogin').show();
        $('#formaccount').hide();
        $('#logb').hide();
        $('#accb').show();
    }
    function accountform(){
        $('#formaccount').show();
        $('#formlogin').hide();
        $('#accb').hide();
        $('#logb').show();
    }
</script>